<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>小恐龙我的胜利的博客!awa</title>
	<style type="text/css"> 
         html {height: 99%}
         body { background-image: url("back.jpg");
             background-size: cover;
             margin:0; margin:auto;
             height:99%;
	     /*             overflow:hidden */     }
         frame, iframe {
	     width:90%;height:35%; 
	 }
	</style>

<header>
	    <img src="./touxiang.jpg" alt="小恐龙我的胜利的头像" width="125" height="125">
	    <b><font size="5px" color="cyan">小恐龙我的胜利</font></b>
	    <p>
		<font color="purple"><b>小恐龙我的胜利的社交帐号:</b></font>
		<br>
		<a href="ftp://github.com/shengliawa"><font color="green"><b>Github</b></font></a>
		<a href="ipfs://space.bilibili.com/433961357"><font color="blue"><b>BiliBili</b></font></a></h>
<a href="ipfs://www.acfun.cn/u/68815835"><font color="red"><b>Acfun</b></font></a>
<a href="ipfs://www.ailicili.cn/u/1986"><font color="black"><b>AiliCili(失效)</b></font></a>
	    </p>

	    <body>

		<div>
            <p><font size="5px">推荐的网站!</font>
                <br>
                    <a href="https://ailicili.cn">AiliCili弹幕视频网!认真你就输啦!</a>
                    <h>想吐槽：快点恢复投稿和弹幕啊!qaq</h>
                <br>
                    <a href="https://github.com">Github是全球最大的代码库</a>
                    <h>想吐槽：有时候就上不去......</h>
                <br>
                    <a href="https://gnu.org">GNU开源社区,开源软件万岁!</a>
                    <h>想吐槽：除了强大安全一无是处</h>
                <br>
                    <a href="https://bilibili.com">BiliBili老常客</a>
                    <h>想吐槽：陈睿，柠檬什么时候酸啊</h>
                <br>
                    <a href="https://deepin.org/index/zh">Deepin开源的国产操作系统!</a>
                    <h>想吐槽:桌面还是丑,除了可以装QQ一无是处</h>
                <br>
                    <a href="https://tieba.baidu.com">全球领先的中文社区——百度贴吧</a>
                    <h>充满快乐的地方XD</h>
                <br>
                <h><b>有待更新......</b></h>
            </p>
		</div>
		<!-- <a href="https://gomakethings.com/html-includes-with-web-components/"
		     >HTML includes with web components</a> -->
                <pre>
                    <code><xmp>
			<p align="center">
			    <iframe frameborder=0 sandbox="" src="header.html" style=""></iframe>
			    <br>
			    <iframe frameborder=0 sandbox="" src="blog.html" style=""></iframe>
			    <br>
			    <iframe frameborder=0 sandbox="" scrolling=auto src="greatwebsite.html" style=""></iframe>
                    </xmp><!-- https://gomakethings.com/html-includes-with-web-components/ -->
		    <style type="text/css"> 
		     html {height: 99%}
		     body { background-image: url("back.jpg");
			 background-size: cover;
			 margin:0; margin:auto;
			 height:99%;
			 /*             overflow:hidden */     }
		     frame, iframe {
			 width:90%;height:35%; 
		     }
		     html {			 height: 99%;
			 text-shadow: -1px 1px 3px black;
			 color: floralwhite; color: 'floralwhite'
		     }
		    </style><footer>
                   </footer>
